<!DOCTYPE html>
<html>
  <head>
    <title>Hire_NOw</title>
 <link rel="stylesheet" type="text/css" href="home.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7CPT+Serif:400,700,400italic"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans"
      rel="stylesheet"
    />
  </head>
 <center> <body>
    <div class="bgimage">
      <div class="menu">
        <div class="leftmenu">
          <h3><a href="index.html">Hire_NOw</a></h3>
        </div>
        <div class="rightmenu">
          <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact us</a></li>

            <li><a href="aboutus.html">About Us</a></li>

          </ul>
        </div>
      </div>
    
    <form class="box" action="home.html" method="post">
      <div class="text">
        <h1>About Us</h1>
        <h2>Parkit</h2>
        <a
          >It is a great company. We are looking forward to be the number 1
          parking website in Bangladesh.</a
        >
        <h2>Space Owner</h2>
        <a
          >When a Space Owner share his/her space with us, we provide the best
          value for the place. All of out client are very happy with our
          srvice.</a
        >
        <h2>Parker</h2>
        <a
          >We receive new requests evryday. Everyone is trusting us and we
          provide the low cost parking facilities. Our parking places are safe
          for the parkers so they don't have to worry about their vehicles after
          they park with us.</a
        >
      </div>
    </form>
  </body>
</html>
