<!DOCTYPE html>
<html>
  <head>
    <title>Hire_NOw</title>
 <link rel="stylesheet" type="text/css" href="home.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7CPT+Serif:400,700,400italic"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans"
      rel="stylesheet"
    />
  </head>
 <center> <body>
    <div class="bgimage">
      <div class="menu">
        <div class="leftmenu">
          <h3><a href="index.html">Hire_NOw</a></h3>
        </div>
        <div class="rightmenu">
          <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact us</a></li>

            <li><a href="aboutus.html">About Us</a></li>

          </ul>
        </div>
      </div>

    <form class="box" action="home.html" method="post">
      <div class="text">
        <h1>MD. Ashikuzzaman Redoy</h1>
        <p>Student of AIUB</p>
        <a>Email : ashikuzzaman048@gmail.com</a>
        <h1>Zarin Sultana</h1>
        <p>Student of AIUB</p>       
        <a>Email: saminzarin248@gmail.com</a>
        <h1>Ahmed Mashroor Intiuf</h1>
        <p>Student of AIUB</p>
        <a>Email: mashroor@gmail.com</a>
        <h1>Abu Hena Mostofa Kamal</h1>
        <p>Student of AIUB</p>
        <a>Email: kamal@gmail.com</a>
      </div>
    </form>
  </body>
</html>